
<ul id="clanovi">
	<li id="clanovi_glavni_opis">
		<h3 style="position:relative;top:-10px;left:15px;">Tim voditelja i tim podrske</h3>
		<hr style="position:relative;top:-25px;width:760px;">
		<div id="uciteljski_tim_slika" class="inline1">
			<img src="images/tim/uciteljski tim.jpg">
		</div>
		<div id="uciteljski_tim_opis" class="inline1">
		<p style="padding:5px">U razdoblju od proljeća 2010. do jeseni 2012., naši voditelji proveli su pilot projekt Umijeća življenja u Vukovaru. Pozitivna iskustva 150 polaznika tečaja umijeća življenja nadahnula su nas te smo morali pokrenuti projekt <i>“Vukovar s osmjehom”</i>.<br/><br/> Odlučili smo održavanjem niza radionica podići kvalitetu života stanovnika Vukovara, pridonijeti bržoj transformaciji grada u grad bez napetosti i stresa i stvoriti novi mirnodopski simbol prosperiteta i suživota u različitosti.
<br/><br/>Članovi užeg tima Projekta <i>“Vukovar s osmjehom”</i> su:</p>
		</div>

	</li>
	<li class="tim_clan">
		<div class="tim_clan_slika inline">
			<div class="tim_clan_slika_naslov">
				<p style="left:10px;">Sonja Jakopović</p>
			</div>
			<div class="tim_clan_slika_slika">
				<img class="slika_clana" src="images/tim/Sonja.jpg">
			</div>
		</div>
		<div class="tim_clan_tekst inline">
			<p><b>Sonja Jakopović (Vukovar)</b>, rođena 1965. godine u Vukovaru, učiteljica AoL programa od 2006. godine. Vodi programe za odrasle, za djecu i mlade te program Sri Sri yoge. Aktivna je širom RH gdje surađuje s brojnim školama, učeničkim domovima i kampovima a 3 godine je radila i kao voditeljica nekoliko velikih projekata u BiH; pokretanje AoL centra u Sarajevu, projekt sa ženama žrtvama rata te projekt s veteranima rata i ratnim vojnim invalidima – u suradnji s Ministarstvom zdravstva BiH.  Aktivno je sudjelovala u pilot projektu Vukovar 2010-2012. te održava suradnju s Gradom Vukovarom, lokalnim medijima i nadležnim državnim institucijama. </p>
		</div>
	</li>
	<li class="tim_clan">
		<div class="tim_clan_slika inline">
			<div class="tim_clan_slika_naslov">
				<p style="left:8px;">Denis Ljevaković</p>
			</div>
			<div class="tim_clan_slika_slika">
				<img class="slika_clana" src="images/tim/Denis.jpg">
			</div>
		</div>
		<div class="tim_clan_tekst inline">
<p><b>Denis Ljevaković (Pakrac)</b>, rođen je 1979. godine u Zagrebu, diplomirao je pravo na Pravnom fakultetu u Osijeku, nakon čega se zapošljava u Ministarstvu obrane i Ministarstvu pravosuđa. Aktivan AoL volonter od 2002. godine te sudjeluje u uspostavi AoL centra Pakrac. Od svibnja 2009. kontinuirano provodi programe Umijeće disanja u Osijeku i sudjeluje u pokretanju pilot projekta Vukovar 2010 godine. Zahvaljujući njegovom predanom kontinuiranom radu u području Slavonije, kroz njegove radionice do danas je prošlo više od 250 polaznika. </p>
		</div>
	</li>
	<li class="tim_clan">
		<div class="tim_clan_slika inline">
			<div class="tim_clan_slika_naslov">
				<p style="left:10px">Regina Boensel</p>
			</div>
			<div class="tim_clan_slika_slika">
				<img class="slika_clana" src="images/tim/Regina.jpg">
			</div>
		</div>
		<div class="tim_clan_tekst inline">
			<p><b>Regina Boensel (SRNj, Frankfurt a/M)</b>, rođena 1960 u Njemačkoj, jedna je od prvih njemačkih voditelja AoL programa, suosnivačica AoL Njemačke i bliski suradnik Sri Sri Ravi Shankara. Od kraja 90-ih vodi antistresne AoL programe i projekte. Od 1994 je bila voditeljica treninga za učitelje AoL programa u Europi a od 2008 u toj funkciji djeluje u Rusiji. Živi i radi u Frankfurtu na Majni. Također je i autorica knjiga čiji prihodi se usmjeravaju u humanitarne projekte. Regina je bila jedna od ključnih pokretača aktivnosti u Hrvatskoj i prije osposobljavanja nacionalnih voditelja redovno je dolazila u Hrvatsku te je tu i upoznala specifičnosti ratne i poratne Hrvatske. </p>
		</div>
	</li>
	<li class="tim_clan">
		<div class="tim_clan_slika inline">
			<div class="tim_clan_slika_naslov">
				<p style="left:4px;">Suzana Friganović</p>
			</div>
			<div class="tim_clan_slika_slika">
				<img class="slika_clana" src="images/tim/Suzi.jpg">
			</div>
		</div>
		<div class="tim_clan_tekst inline">
			<p><b>Suzana Friganović (Zagreb)</b>, rođena 1954. godine u Šibeniku, radi kao viši pravni savjetnik u MIORH-u. Suzana je prvi kvalificirani voditelj AoL programa u Hrvatskoj, i kontinuirano djeluje od 1998. godine u Centima Zagreb, Rijeka, Karlovac, Šibenik, Zadar te je pokrenula radionice u Osijeku krajem 90-ih. Iznimno važan doprinos projektu upravo je njeno dugogodišnje iskustvo rada s ljudima i mentorsko iskustvo. Ujedno, Suzana je član upravnog odbora Udruge UŽ Hrvatska.</p>
		</div>
	</li>
	<li class="tim_clan">
		<div class="tim_clan_slika inline">
			<div class="tim_clan_slika_naslov">
				<p style="left:17px;">Slavica Perić</p>
			</div>
			<div class="tim_clan_slika_slika">
				<img class="slika_clana" src="images/tim/Slavica.jpg">
			</div>
		</div>
		<div class="tim_clan_tekst inline">
			<p><b>Slavica Perić (Zagreb)</b>, rođena 1955. godine u Iloku, trenutno radi kao javni bilježnik u Dugom Selu a ima i dugogodišnje iskustvo pravnih i savjetničkih poslova u gospodarstvu te u državnim institucijama. Jedan je od inicijatora i realizatora Projekta “Vukovar s osmjehom”. Kvalificirani je voditelj AoL programa od 2009. godine.</p>
		</div>
	</li>
	<li class="tim_clan">
		<div class="tim_clan_slika inline">
			<div class="tim_clan_slika_naslov">
				<p style="left:6px;">Vladimir Banović </p>
			</div>
			<div class="tim_clan_slika_slika">
				<img class="slika_clana" src="images/tim/Vlado.jpg">
			</div>
		</div>
		<div class="tim_clan_tekst inline">
			<p><b>Vladimir Banović (Zagreb)</b>, rođen 1975. godine u Zagrebu, inženjer komunikacijske i računalne tehnike, volonter je od 1996. godine a kvalificirani voditelj programa od 2002. Od 2003.-2007. godine koordinira aktivnosti AoL Centra Osijek i sudjeluje u pripremama za pilot projekt Vukovar. Koordinator je tehničkih poslova projekta “Vukovar s osmjehom”.</p>
		</div>
	</li>
</ul>

