<div id="vukovar_s_osmjehom_tekst_i_slika">
		<h3 style="position:relative;top:-10px;left:15px;">Vukovar s osmjehom</h3>
		<hr style="position:relative;top:-25px;width:760px;">
		<div id="vukovar_s_osmjehom_tekst" class="inline">
	<p>Vukovar s osmjehom je projekt za unaprijeđenje kvalitete života pojedinca i razvoj ljudskih vrijednosti u društvu, prema programima međunarodne organizacije The Art of Living Foundation i udruge Umijeće življenja Hrvatska. Namijenjen je građanima i civilnim udrugama grada Vukovara.
Društvo slobodno od nasilja, tijelo slobodno od bolesti, um slobodan od stresa, intelekt slobodan od potiskivanja, memorija slobodna od trauma i duša slobodna od patnje, prirođeno je pravo svakog ljudskog bića.
Unutarnji osmijeh je najvrijednije što imamo. Znanje o tome kako ga sačuvati najveće je umijeće življenja.
Misija ovog projekta je podučiti građane Vukovara umijeću življenja i vještinama za uklanjanje stresa i buđenje našeg prirođenog potencijala za samoiscjeljenje.
U sklopu projekta provode se antistresni programi za građane i članove udruga kako bi stvorili zdraviji i sretniji grad, Vukovar s osmjehom.</p>
		</div>
		<div id="vukovar_s_osmjehom_slika" class="inline">
			<img src="images/vukovar s osmjehom.jpg">
		</div>
</div>
