// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#clanovi{
	list-style-type:none;
	position:relative;	
}
li#clanovi_glavni_opis{
/*	border:1px solid black; */
	height:390px;
	position:relative;
	left:-36px;
	width:780px;
}
#uciteljski_tim_slika{
	position:relative;
/*	border:1px solid black; */
	top:-15px;
	left:5px;
	width:510px;
	height:305px;
}
#uciteljski_tim_opis{
	position:relative;
/*	border:1px solid black; */
	top:-15px;
	left:7px;	
	width:250px;
	height:305px;
	font-family:Arial;
	font-size:13px;
}
div.inline1{
	float:left;
}
#glavni_opis_uz_sliku{
	position:relative;
/*	border:1px solid black; */
	height:100px;
	width:100px;
}
#tim_naslov{
	position:relative;
/*	border:1px solid black; */
	width:700px;
	height:200px;

}
li.tim_clan{
	position:relative;
/*	border:1px solid black; */
	width:700px;
	height:155px;
	background-color:#cccccc;
	margin-top:10px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

}
.tim_clan_slika{
	position:relative;
/*	border:1px solid black; */
	width:100px;
	height:124px;
}
div.tim_clan_slika_naslov{
	position:relative;
	border:1px solid #f69319;
	width:120px;
	height:30px;
	left:-10px;
	top:-2px;
	background-color:#f69319;
}

.tim_clan_slika_naslov p{
font-family:Arial;
font-weight:bold;
font-size:13px;
position:relative;
top:-6px;
}
div.tim_clan_slika_slika{
	position:relative;
	/*border:1px solid #cccccc;*/ 
	width:100px;
	height:93px;
	top:-2px;

}
.tim_clan_tekst{
	position:relative;
/*	border:1px solid black; */
	width:596px;
	height:124px;
}
.tim_clan_tekst p{

	font-size:13px;
	padding-left:18px;
	padding-top:0px;
	margin-top:7px;
	padding-right:5px;

}
.slika_clana{
	position:relative;
	left:7px;
}
div#vukovar_s_osmjehom_tekst_i_slika{
	position:relative;
/*	border:1px solid black; */
	width:790px;
	height:440px;

}
div#vukovar_s_osmjehom_tekst{
	position:relative;	
/*	border:1px solid black; */
	width:240px;
	height:383px;
	left:13px;
	top:-20px;
}
#vukovar_s_osmjehom_tekst p{
	position:relative;
	font-family:Arial;
	font-size:12px;
	padding:5px;
	top:-10px;
}
div#vukovar_s_osmjehom_slika{
	position:relative;	
/*	border:1px solid black; */
	width:510px;
	height:383px;
	left:17px;
	top:-20px;
}
div.inline2{
	float:left;
}
